/*! normalize.css версии 8.0.1 | Лицензия MIT | github.com/necolas/normalize.css */

/* Документ
 ========================================================================== */

/**
 * 1. Исправьте высоту строки во всех браузерах.
 * 2. Запретите изменять размер шрифта после изменения ориентации в iOS.
 */

html {
 высота строки: 1.15; /* 1 */
 -webkit-настройка размера текста: 100%; /* 2 */
}

/* Разделы
 ========================================================================== */

/**
 * Удалите поля во всех браузерах.
 */

body {
 поле: 0;
}

/**
 * В IE элемент `main` отображается последовательно.
 */

main {
 отображать: блокировать;
}

/**
 * Исправьте размер шрифта и поля для элементов `h1` в контекстах "раздел" и 
 * `статья" в Chrome, Firefox и Safari.
 */

h1 { 
 размер шрифта: 2em;
 поле: 0.67em 0;
}

/* Группировка содержимого
 ========================================================================== */

/**
 * 1. Добавьте правильный размер поля в Firefox.
 * 2. Покажите переполнение в Edge и IE.
 */

hr {
 box-sizing: content-box; /* 1 */
 высота: 0; /* 1 */
 переполнение: видно; /* 2 */
}

/**
 * 1. Исправьте наследование и масштабирование размера шрифта во всех браузерах.
 * 2. Исправьте нечетный размер шрифта `em` во всех браузерах.
 */

pre { 
 семейство шрифтов: моноширинные, monospace; /* 1 */
 размер шрифта: 1em; /* 2 */
}

/* Семантика на уровне текста
 ========================================================================== */

/**
 * Удалите серый фон для активных ссылок в IE 10.
 */

a { 
 цвет фона: прозрачный;
}

/**
 * 1. Удалите нижнюю границу в Chrome 57.-
 * 2. Добавьте правильное оформление текста в Chrome, Edge, IE, Opera и Safari.
 */

сокращение [title] { 
 нижняя граница: отсутствует; /* 1 */
 оформление текста: подчеркивание; /* 2 */
 оформление текста: подчеркивание пунктиром; / * 2 */
}

/**
 * Добавьте правильный размер шрифта в Chrome, Edge и Safari.
 */

b, 
strong { 
 размер шрифта: жирнее;
}

/**
 * 1. Исправьте наследование и масштабирование размера шрифта во всех браузерах.
 * 2. Исправьте нечетный размер шрифта `em` во всех браузерах.
 */

код, 
kbd, 
samp { 
 семейство шрифтов: моноширинные, monospace; /* 1 */
 размер шрифта: 1em; /* 2 */
}

/**
 * Добавьте правильный размер шрифта во всех браузерах.
 */

small { 
 размер шрифта: 80%;
}

/**
 * Элементы `sub` и `sup` не должны влиять на высоту строки в 
 * всех браузерах.
 */

sub, 
sup { 
 размер шрифта: 75%;
 высота линии: 0; 
 положение: относительное;
 выравнивание по вертикали: базовая линия;
}

sub { 
 снизу: -0,25em;
}

sup {
 сверху: -0,5em;
}

/* Встроенное содержимое
 ========================================================================== */

/**
 * Удалите границы изображений внутри ссылок в IE 10.
 */

img {
 стиль границы: отсутствует;
}

/* Формы
 ========================================================================== */

/**
 * 1. Измените стили шрифтов во всех браузерах.
 * 2. Удалите поля в Firefox и Safari.
 */

кнопка, 
ввод, 
выбрать группу, 
выбрать, 
текстовая область { 
 семейство шрифтов: наследовать; /* 1 */
 размер шрифта: 100%; /* 1 */
 высота строки: 1.15; /* 1 */
 поле: 0; /* 2 */
}

/**
 * Показать переполнение в IE.
 * 1. Показать переполнение в Edge.
 */

кнопка, 
ввод { /* 1 */
 переполнение: видно;
}

/**
 * Удалите наследование преобразования текста в Edge, Firefox и IE.
 * 1. Удалите наследование преобразования текста в Firefox.
 */

кнопка, 
выберите { /* 1 */
 преобразование текста: отсутствует;
}

/**
 * Исправлена невозможность оформления кликабельных типов в iOS и Safari.
 */

кнопка, 
[type="кнопка"], 
[type="сброс"], 
[type ="отправить"] {
 -webkit-внешний вид: кнопка;
}

/**
 * Удалите внутреннюю границу и отступы в Firefox.
 */

кнопка::-moz-фокус-внутренняя,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
 border-style: none;
 padding: 0;
}

/**
 * Восстановить стили фокуса, отмененные предыдущим правилом.
 */

button:-moz-focusring,
[type="button"]: -moz-focusring,
[type="reset"]: -moz-focusring,
[type="submit"]: -moz-focusring {
 контур: пунктирная линия ButtonText толщиной 1 пиксель;
}

/**
 * Исправьте отступы в Firefox.
 */

fieldset {
 отступы: 0,35em 0,75em 0,625em;
}

/**
 * 1. Исправьте перенос текста в Edge и IE.
 * 2. Исправьте наследование цвета от элементов `fieldset` в IE.
 * 3. Удалите отступы, чтобы разработчики не попались на этом, когда обнуляют
 * элементы `fieldset` во всех браузерах.
 */

легенда {
 box-sizing: border-box; /* 1 */
 цвет: inherit; /* 2 */
 отображение: таблица; /* 1 */
 максимальная ширина: 100%; /* 1 */
 отступы: 0; /* 3 */
 пробел: нормальный; /* 1 */
}

/**
 * Добавьте правильное вертикальное выравнивание в Chrome, Firefox и Opera.
 */

progress {
 вертикальное выравнивание: по центру;
}

/**
 * Удалите вертикальную полосу прокрутки по умолчанию в IE 10+.
 */

textarea {
 переполнение: авто;
}

/**
 * 1. Добавьте правильный размер поля в IE 10.
 * 2. Удалите отступы в IE 10.
 */

[тип="флажок"],
[type="radio"] {
 размер рамки: border-box; /* 1 */
 заполнение: 0; / * 2 */
}

/**
 * Исправьте стиль курсора кнопок увеличения и уменьшения в Chrome.
 */

[тип="число"]::-webkit-внутренняя кнопка вращения, 
[тип="число"]::-webkit-внешняя кнопка вращения {
 высота: автоматическая;
}

/**
 * 1. Исправьте странный внешний вид в Chrome и Safari.
 * 2. Исправьте стиль оформления в Safari.
 */

[type="поиск"] {
 -webkit-внешний вид: текстовое поле; /* 1 */
 смещение контура: -2px; /* 2 */
}

/**
 * Удалите внутреннее заполнение в Chrome и Safari на macOS.
 */

[type="search"]::-webkit-поиск-оформление {
 -webkit-внешний вид: отсутствует;
}

/**
 * 1. Исправьте невозможность оформления кликабельных типов в iOS и Safari.
 * 2. Измените свойства шрифта на `наследование` в Safari.
 */

::-webkit-кнопка загрузки файла {
 -webkit-внешний вид: кнопка; /* 1 */
 шрифт: унаследовать; /* 2 */
}

/* Интерактивный
 ========================================================================== */

/*
 * Добавьте правильное отображение в Edge, IE 10+ и Firefox.
 */

подробности { 
 отображение: заблокировать;
}

/*
 * Добавьте правильное отображение во всех браузерах.
 */

сводка { 
 отображение: элемент списка;
}

/* Разное
 ========================================================================== */

/**
 * Добавьте правильное отображение в IE 10+.
 */

шаблон { 
 отображение: отсутствует;
}

/**
 * Добавьте правильное отображение в IE 10.
 */

[скрыто] {
 отображение: отсутствует;
}